#label {
    font-size: 30px;
    margin: 5px;
}

.gen-button {
    margin: 10px;

}

#new-password-div {
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 15px;
}

#copy-button {
    margin: 5px;
}