#label {
    font-size: 30px;
    margin: 5px;
}

.blue {
    color:#0a2240;
}

.red {
    color: red;
}

.gen-button {
    margin: 10px;

}

.new-password {
    font-size: 30px;
    border: 1px solid lightsteelblue;
    border-radius: 15px;
    max-width: 100%;
    text-overflow: ellipsis;
}

#copy-button {
    margin-top: 15px;
}
