{% extends "layout.html" %}

{% block div %}

    <form action="/new-password" method="post">
        <div class="form-group">
            <label id="label">Select length:</label>
            <select class="form-control" required name="length">
                <option disabled value="">Length</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="64">64</option>
            </select>
        </div>
        <input type="submit" class="btn btn-lg btn-success gen-button" value="Generate Password">
    </form>

{% endblock %}
