{% extends "layout.html" %}

{% block div %}

    <h1 class="display-2 mb-2"><b>Your New</b> Password is:</h1>
    <br>
    <div id="new-password-div" class="container">
        <div id="password" >
            {{ new_password }}
        </div>
    </div>
    <button class="btn btn-lg btn-outline-success" id="copy-button">Copy</button>
    <br>
    <a href="/" type="button" class="btn btn-lg btn-success gen-button">Generate Another</a>

{% endblock %}

{% block script %}
<script src="/static/scripts.js"></script>
{% endblock %}